#toplevel_page_modal-box img{
    height: 20px;
    position: relative;
    top: -2px;
}

#modal_form{
    max-width: 700px;
}

#modal_box_title{
    width: 100%;
    height: 50px;
    margin-bottom: 40px;
    padding-left: 10px;
}

#preview{
    display: block;
    width: 400px;
    height: 200px;
    background-size: cover;
    background-position: center;
    display: none;
    margin-top: 20px;
}

.wpse-228085-upload{
    margin-top: 20px!important;
}

/* ----------------------------------------------------------------------------------------------------------------------------- */


/**
 * Material Modal CSS
 */
.modalPP {
  will-change: visibility, opacity;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 1000;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);

}

.modal--active {
  visibility: visible;
  opacity: 1;
}
.modal--align-top {
  align-items: flex-start;
}
.modal__bg {
  background-color: rgba(0,0,0,0.6);
  z-index: 999999999;
}
.modal__dialog {
  max-width: 700px;
  padding: 1.2rem;
}
.modal__content {
  will-change: transform, opacity;
  position: relative;
  padding: 2.4rem;
  background: #ffebee;
  background-clip: padding-box;
  box-shadow: 0 12px 15px 0 rgba(0,0,0,0.25);
  opacity: 0;
  transition: all 0.25s cubic-bezier(0.23, 1, 0.32, 1);
}
.modal__content--active {
  opacity: 1;
}
.modal__close {
  z-index: 1100;
  cursor: pointer;
}
.modal__trigger {
  position: relative;
  display: inline-block;
  padding: 1.2rem 2.4rem;
  color: rgba(0,0,0,0.7);
  line-height: 1;
  cursor: pointer;
  background: #ffebee;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26);
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}
.modal__trigger--active {
  z-index: 10;
}
.modal__trigger:hover {
  background: #e5d3d6;
}
#modal__temp {
  will-change: transform, opacity;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ffebee;
  -webkit-transform: none;
          transform: none;
  opacity: 1;
  transition: opacity 0.1s ease-out, -webkit-transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  transition: opacity 0.1s ease-out, transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  transition: opacity 0.1s ease-out, transform 0.5s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.demo-btns header {
  padding: 7vh 10vw;
  background: #ffebee;
  display: flex;
  align-items: center;
}
.demo-btns header h1 {
  margin: 0;
  color: rgba(0,0,0,0.54);
  font-weight: 300;
}
.demo-btns .info {
  /* background: #f44336; */
  padding: 3vh 10vw;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
}
.demo-btns p {
  text-align: center;
  color: #fff;
}
.demo-btns .link {
  font-size: 20px;
}
.demo-btns .modal__trigger {
  margin-right: 3px;
}
@media (max-width: 640px) {
  .demo-btns .modal__trigger {
    margin-bottom: 0.8rem;
  }
}
.demo-close {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0.2rem;
  padding: 0.2rem;
  background: rgba(255,255,255,0.3);
  border-radius: 0;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}
.demo-close svg {
  width: 24px;
  fill: #75ca12;
  pointer-events: none;
  vertical-align: top;
}
.demo-close:hover {
  background: rgba(0,0,0,0.6);
}



/* ----------------------------------------------------------------------------------------------------------------------------- */


.modal__content{
    background-size: cover;
    background-position: center;
}

.modal__content{
    min-width: 700px;
    min-height: 350px;
}

.modal__content h1{
    color: #75ca12;
    font-size: 35px;
    font-weight: 900;
    text-transform: uppercase;
}

.modal__content article{
    color: #75ca12;
    font-size: 19px;
    line-height: 27px;
    font-weight: 300;
    margin-top: 40px;
}

.demo-btns{
    display: none;
}

#modal_box_switcher_box_val{
  position: relative;
  top: 2px;
  left: 10px;
}

@media (max-width: 768px) {
    .modal__dialog {
      max-width: 98%;
      width: 98%;
    }

    .modal__content{
        min-width: 98%;
        width: 98%;
        min-height: 50vh;
    }
}